.point {
    cursor: pointer;
  }
  
  .name-card {
    justify-items: center;
    display: grid;
    max-height: 26rem;
    overflow: auto;
    scrollbar-width: none;
    -ms-overflow-style: none;
    overflow-y: scroll;
    overflow-x: hidden;
  }
  
  .name-card::-webkit-scrollbar {
    width: 0 !important;
  }
  